Python==3.10.11
Flask==3.0.0
Flask-MySQLdb==2.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Jinja2==3.1.2
mysql-connector-python==8.2.0
mysqlclient==2.2.0
pip==22.1.2
PyMySQL==1.1.0
python-engineio==4.8.0
python-socketio==5.10.0
requests==2.31.0
simple-websocket==1.0.0
SQLAlchemy==2.0.23
urllib3==2.1.0
Werkzeug==3.0.1
