<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_dashboard.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"> <!-- Placeholder for your favicon -->
</head>
<body>
    <div>
        <button onclick="window.location.href='/breeder_profile'">Your Profile</button><br><br>
    </div>
    <script src="{{ url_for('static', filename='scripts/breeder_dashboard.js') }}"></script>
</body>
</html>