<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="./style.css"> <!--placeholder-->
    <link rel="icon" href="./favicon.ico" type="image/x-icon"> <!--placeholder-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhgGTbERJQi_NKs2xS3iAxX303W3fQ6iY&libraries=places"></script>
</head>
<body>
    <main>
        <h1>Create Your PawPair Breeder Profile</h1>
        <form action="/breeder_profile" method="POST" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="business_name">Business Name:</label>
            <input type="text" id="business_name" name="business_name" required><br>
            <input type="hidden" id="location" name="location" value="">
            <div id="location-display"></div>
            <label for="specialization">Specialization:</label>
            <input type="text" id="specialization" name="specialization" required><br>
            <label for="profile_image">Profile Image:</label>
            <input type="file" id="profile_image" name="profile_image" accept="image/*" required><br>
            <button type="submit">Create Breeder Profile</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
</body>
</html>