<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton">
    <link rel="stylesheet" href="./static/styles/index.css">
    <link rel="icon" href="./static/styles/images/icons/PawPair-icon.png" type="image/x-icon">
</head>
<body>
    <main id="main-content">
        <div class="container">
            <h1 id="welcome-message">Welcome to PawPair</h1>
            <p>Connect With Other Dog Owners and Breeders to Find the Perfect Match for Your Furry Friend</p>
            <a href="/register" class="cta-button">Register</a>
            <a href="/login" class="cta-button">Sign In</a>
        </div>
    </main>
</body>
</html>