<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton">
    <link rel="stylesheet" href="./static/styles/register_success.css">
    <link rel="icon" href="./static/styles/images/icons/PawPair-icon.png" type="image/x-icon">
</head>
<body>
    <div class="success-container">
        <h1 class="success-title">Registration Successful</h1>
        <p class="success-message">Welcome, <span id="username">{{ username }}</span>!</p>
        <a href="/login" class="success-link">Go to login</a>
    </div>
</body>
</html>