<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton">
    <link rel="stylesheet" href="./static/styles/user_dashboard.css">
    <link rel="icon" href="./static/styles/images/icons/PawPair-icon.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <h1 class="logo">PawPair</h1>
        </div>
        <div class="navbar-right">
            <a href="/login" class="logout-link">Log Out</a>
        </div>
    </header>
    <main class="dashboard-container">
        <div class="button-container">
            <button class="dashboard-button" onclick="window.location.href='/user_profile'">Your Profile</button>
            <button class="dashboard-button" id="chatroom-button" {% if is_in_chatroom %} enabled {% else %}
                disabled {% endif %}>Chatroom</button>
        </div>
        <div class="search-container">
            <input type="text" id="breed_search" class="search-input" placeholder="Search for a dog breed..." autocomplete="off">
            <ul id="breed_options" class="dropdown"></ul>
            <button id="search_user_button" class="dashboard-button" disabled>Search for User</button>
        </div>
        <div class="random-user-info">
            <h2 class="random-heading">Random User's Profile</h2>
            <button id="random_user_button" class="dashboard-button">Load Random User Profile</button>
        </div>
        <div class="user-details-card">
            <div class="profile-info">
                <div class="profile-image">
                    <img id="profile_image" class="user-image" src="" alt="Profile Image">
                </div>
                <div class="username">
                    <span id="username"></span>
                </div>
            </div>
            <div class="user-details-text">
                <div class="user-details">
                    <p><strong>Location:</strong> <span id="location"></span></p>
                    <p><strong>Dog's Name:</strong> <span id="dog_name"></span></p>
                    <p><strong>Breed:</strong> <span id="breed"></span></p>
                    <p><strong>Age:</strong> <span id="age"></span></p>
                    <p><strong>Description:</strong> <span id="description"></span></p>
                </div>
                
            </div>
            <div class="dog-image">
                <img id="dog_image" class="user-image" src="" alt="Dog Image">
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/user_dashboard.js') }}"></script>
</body>
</html>