<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton">
    <link rel="stylesheet" href="./static/styles/user_profile.css">
    <link rel="icon" href="./static/styles/images/icons/PawPair-icon.png" type="image/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhgGTbERJQi_NKs2xS3iAxX303W3fQ6iY&libraries=places"></script>
</head>
<header class="navbar">
    <div class="navbar-left">
        <h1 class="logo">PawPair</h1>
    </div>
    <div class="navbar-right">
        <a href="/user_dashboard" class="dashboard-link">Dashboard</a>
    </div>
</header>
<body>
    <main class="profile-container">
        <h1>Create Your PawPair Profile</h1>
        <form action="/user_profile" method="POST" enctype="multipart/form-data">
            <label for="username" class="profile-label">Username:</label>
            <input type="text" id="username" name="username" required class="profile-input"><br>
            <input type="hidden" id="location" name="location" value="">
            <label for="profile_image" class="profile-label">Profile Image:</label>
            <input type="file" id="profile_image" name="profile_image" accept="image/*" required class="profile-input"><br>
            <label for="dog_name" class="profile-label">Dog Name:</label>
            <input type="text" id="dog_name" name="dog_name" required class="profile-input"><br>
            <label for="breed" class="profile-label">Breed:</label>
            <input type="text" id="breed" name="breed" required class="profile-input"><br>
            <label for="age" class="profile-label">Age:</label>
            <input type="number" id="age" name="age" required class="profile-input"><br>
            <label for="description" class="profile-label">Description:</label>
            <textarea id="description" name="description" required class="profile-textarea"></textarea><br>
            <label for="dog_image" class="profile-label">Dog Image:</label>
            <input type="file" id="dog_image" name="dog_image" accept="image/*" required class="profile-input"><br>
            <input type="hidden" id="location" name="location" value="">
            <div id="location-display"></div>
            <button type="submit" class="profile-button">Create Profile</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
</body>
</html>