<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PawPair</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_thank_you.css') }}">
</head>
<body>
    <div>
        Thank you for using our services!
    </div>
    <div>
        You will be redirected to the dashboard in <span id="counter">x</span> seconds.
    </div>    
    <script src="{{ url_for('static', filename='scripts/user_thank_you.js') }}"></script>
</body>
</html>