body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('./images/dog-8.jpg') no-repeat center center/cover;
    filter: blur(6px);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Neuton", sans-serif;
    text-align: center;
    color: #ffa83d;
}

.navbar {
    background-color: #ffa83d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    margin: 0;
    margin-top: -5px;
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-left {
    margin-left: 15px;
}

.navbar-right {
    margin-top: -4px;
}

.navbar-right .logout-link {
    margin-right: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

/* Style the logout link on hover */
.navbar-right .logout-link:hover {
    text-decoration: underline;
}

.breeder-dashboard-container {
    width: 90%;
    max-width: 400px; 
    height: auto; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.dashboard-message {
    font-size: 20px;
    margin-bottom: 30px;
}

.profile-button {
    background-color: #FFFFFF;
    color: #ffa83d;
    padding: 12px 24px;
    border: 2px solid #ffa83d;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.profile-button:hover {
    background-color: #ff9320;
    color: #FFFFFF;
}